.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.gallery > div:nth-child(1) {
  width: 150px;
  height: 175px;
  position: relative;
  border: dashed black 1px;
  border-radius: 10px;
  background-color: lightgray;
}

.gallery > div:nth-child(2) {
  width: 250px;
  height: 300px;
  border-radius: 10px;
  background-color: lightgray;
}

.gallery > div:nth-child(3) {
  width: 150px;
  height: 175px;
  position: relative;
  border: dashed black 1px;
  border-radius: 10px;
  background-color: lightgray;
}

.side-stack {
  padding: 1em;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.center-stack {
  padding: 1em;
  /* top: 0;
  left: 0; */
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.side-stack-container > div:nth-child(1) {
  top: 2px;
  transform: rotate(-1.3deg);
}

.side-stack-container > div:nth-child(2) {
  top: 10px;
  transform: rotate(-2deg);
}

.side-stack-container > div:nth-child(3) {
  top: 20px;
  transform: rotate(1.5deg);
}

.side-stack-container > div:nth-child(4) {
  top: 30px;
  transform: rotate(-3deg);
}

.center {
  display: flex;
  justify-content: center;
}
